/* CSS Document */
 
*{ padding:0; margin:0;} 
ul,ol{ list-style:none;}
img{display:block;}
body{ font-family:"微软雅黑"; font-size:14px; line-height:150%; background:#fff; color:#000;}
a{ text-decoration:none;}
/* 全局样式开始 */
.border{ border:1px solid #000;}
.bj_l_r{ margin-left:10px; margin-right:10px;}
.bj_t_b{ margin-top:10px; margin-bottom:10px;} 
.center1left{ color:#070; font-size:16px; font-weight:normal; font-family:"黑体";padding-left:10px;}
.center1head{ height:30px; border-bottom:1px solid #000; border-top:1px solid #000; line-height:30px;}
.more{ padding-left:110px;}
.kuai{ background:url(../../images/jiaozuo/images/heikuai_03.jpg) no-repeat 8px center; padding-left:25px;}
.strongcenter24{ font-size:18px; color:#004D00;padding-left:5px;}
.more24{ color:#063; padding-left:260px;}
.b24{ width:380px; height:32px; border-bottom:3px solid #CCC;}
.bk{ height:33px; border:1px solid #ccc; background:url(../../images/jiaozuo/images/images/t3_03.png);}
.div_kuai{ width:115px; height:33px; background:#006400;}
.strong_kuai{ text-align:center; line-height:35px; display:block; color:#FFF; font-size:16px; font-weight:normal;}
 #qb{ border-top:none; border-left:none; border-right:none;}
 .fd_1{ float:left;}
 .fd_2{ float:right; margin:5px 10px 0 0; color:#063;}

/* 全局样式结束 */

/* 头部开始 */
header #top{ height:34px; border-bottom:1px solid #CCC; background:url(../../images/jiaozuo/images/jz1_02.png);}
header #top  #zi{ width:960px; height:34px; padding-left:10px; line-height:34px; margin:0 auto;}
header #top strong{ font-weight:normal; color:#093; line-height:34px; background:url(../../images/jiaozuo/lvkuai.png) 10px 7px no-repeat; padding-left:20px;}
 header #top .strong_1{ background:none; padding-left:0;}

header .logo{ height:95px;width:960px; margin:0 auto; padding:10px 0;}
header .logo a{ display:block; width:281px; height:70px; float:left; padding-top:13px;}
header .logo .banner{ width:640px; height:90px;line-height:90px; float:right;}

header nav{ height:40px; background:url(../../images/jiaozuo/images/navbg_09.png);}
header nav ul{ width:954px; height:40px; margin:0 auto; padding-left:6px;}
header nav li{ height:40px; padding:0 12px; float:left; line-height:40px; color:#fff; background:url(../../images/jiaozuo/images/images/navbgb_11.png) no-repeat right bottom;}
header nav .bg{ background:none;}
header nav  a{ color:#fff;}
header nav .color{ color:#FF0;}
/* 头部结束 */
/* center开始 */
#center{ width:960px; height:745px; margin:10px auto;}
/* 分析预测 服务专区 办事指南 市县联网开始 */
#center_1{ width:232px; height:743px; float:right; background:url(../../images/jiaozuo/images/images/t3_03.png);}
#center_1 .bk{ border-top:none;}
#center_1 li{ background:url(../../images/jiaozuo/lvkuai.png) no-repeat 8px center; padding-left:25px; color:#060;}
/*服务专区开始*/
#center_1 .zxjb,.djrx,.tsrx{ width:201px; height:38px; border:1px solid #000; margin:10px 15px 0 15px;}
#center_1 .img3{ padding:5px 0 0 20px; float:left;}
#center_1 .a1{ color:red; font-size:20px;}
#center_1 .zx{ font-weight:normal;margin-top:8px; margin-right:20px; float:right;}
#center_1 .s1{ color:#007900; font-size:16px; margin-left:55px;}
#center_1 .s2{ color:#F90;margin-left:35px;}
/*服务专区结束*/

/*办事指南开始*/
#center_1 .normal{ font-weight:normal;}
/*办事指南结束*/
#center_1 .a2{ color:#F63; padding:10px;}
/* 分析预测 服务专区 办事指南 市县联网结束 */

/* 新闻快递开始 */
#center_2{ width:380px; height:234px;float:right;}
#center_2 time{ float:right; font-size:12px;}
#center_2 li{ float:left; font-size:12px; color:#060; background:url(../../images/jiaozuo/lvkuai.png) no-repeat 8px center; padding-left:25px;}

/*新闻快递结束 */

/* 图片新闻开始 */
#center_3{ width:322px; height:232px;float:right; border:1px solid #060;}
#center_3 img{ padding:1px;}
#center_3 .dibu{ background:url(../../images/jiaozuo/images/images/t3_03.png); width:322px; height:35px; text-align:center; line-height:35px;}
#center_3 strong{ color:#070;}
/* 图片新闻结束 */

/*供求信息 开始 */
#center_4{ width:380px; height:250px;float:right;}
#center_4 ul{ padding-top:13px;}
#center_4 .strong1345{ color:#006C00; font-weight:normal;}
#center_4 .strong2678{ color:#FF1A1A; font-weight:normal;}
/*供求信息  结束 */

/* 政情通报 开始 */
#center_5{ width:324px; height:250px;float:right;}
#center_5 .lz{ background:url(../../images/jiaozuo/lvkuai.png) left center no-repeat;padding-left:10px; font-size:12px; margin-left:10px;}
#center_5 .fd2{ margin-right:20px;}
/*政情通报 结束 */

/* 价格行情 开始 */
#center_6{ width:378px; height:240px;float:right;}
#center_6 .divbai{ width:378px; height:34px;line-height:34px;}
#center span{ font-size:12px; color:#090;}
#center_6 .span-1{margin-left:15px;}
#center_6 .span-2{margin:0 59px 0 49px;}
#center_6 .span-4{margin-left:30px;}
#center_6 .span1{ margin-left:16px;}
#center_6 .divhui{ background:#FFEEF7;  width:378px; height:34px;line-height:34px;}
/*价格行情 结束 */

/* 农业科技 开始 */
#center_7{ width:324px; height:241px;float:right;}
/* 农业科技 结束 */
/* center结束 */


/* 网上展厅开始 */
#wszt{ width:958px; height:216px; margin:0 auto; position:relative;}
#wszt .tu{ width:176px; height:162px; padding:10px 0 10px 15px;}
#wszt h3{ width:176px; height:26px; margin-top:2px; background:#FFDFFF; line-height:26px; text-align:center; color:#060;}
#wszt .tu2{ position:absolute; top:34px; left:190px;}
#wszt .tu3{ position:absolute; top:34px; left:376px;}
#wszt .tu4{ position:absolute; top:34px; left:562px;}
#wszt .tu5{ position:absolute; top:34px; left:748px;}

/* 网上展厅结束 */

#nongye{ margin:10px auto; width:960px; height:200px;}
/* 农业图书开始 */
#nyts{ width:312px; height:198px; float:left;}
#nyts .divbai{ width:312px; height:27px; line-height:29px;}
#nyts .divhui{ width:312px; height:27px; line-height:28px; background:#ffeef7;}
#nyts .span1{margin-left:-100px;}
#nyts .span-1{ margin-left:15px;}
#nyts .span-2{margin-left:90px;}

/* 农业图书结束 */

/* 农业专栏开始 */
#nyzl{ width:310px; height:200px; float:left; margin:0 10px;}
#nyzl li{ padding-bottom:6px;}
/* 农业专栏结束 */

/* 资源中心开始 */
#zyzx{ width:310px; height:200px; float:left;}
#zyzx li{ padding-bottom:6px;}
/* 资源中心结束 */

/* 底部开始 */
footer{ width:100%; height:245px;}
/* 友情链接开始 */
#link{ width:958px; height:118px; margin:10px auto ;}
#link .div{ width:958; height:82px; margin-top:10px;}
#link a{ color:#063; margin-left:28px; font-size:12px;}
/* 友情链接结束 */

/* 版权开始 */
#bq{ width:100%; height:117px; border-top:2px solid #060; padding-top:27px; text-align:center; color:#063; font-size:12px;}
/* 版权结束 */

/* 底部开始 */
